<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colombiando</title>
    <link
      rel="shortcut icon"
      href="../static/img/Colombiando.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/base.css" />
  </head>
  <body>
    <header class="primary-header padding-block-150">
      <div class="container">
        <nav aria-label="upper" class="primary-nav">
          <div>
            <a href="#">
              <img src="../static/img/logo.svg" alt="Colombiando" />
            </a>
          </div>
          <div class="nav-wrapper">
            <ul role="list" class="nav-list">
              <li><a href="#" class="nav-list-item" id="Inicio">Inicio</a></li>
              <li>
                <a href="" class="nav-list-item" id="Servicios">Servicios</a>
              </li>
              <li>
                <a href="" class="nav-list-item" id="Acerca-de">Acerca de</a>
              </li>
            </ul>
          </div>
          <div>
            <div class="profile-div">
              <figure>profile image</figure>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <footer class="footer padding-block-150">
      <nav>
        <div>
          <a href="#" class="full-logo-div">
            <img src="../static/img/full-logo.svg" alt="Colombiando"
          /></a>
        </div>
        <div class="padding-block-150">
          <ul role="list" class="nav-list">
            <li class="footer-list-item"><a href="#">Inicio</a></li>
            <li class="footer-list-item"><a href="">Servicios</a></li>
            <li class="footer-list-item"><a href="">Acerda de</a></li>
          </ul>
        </div>
        <div class="copyrights">
          <p>Colombiando © 2026</p>
        </div>
      </nav>
    </footer>
  </body>
</html>
