<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colombiando</title>
    <link
      rel="shortcut icon"
      href="../static/img/Colombiando.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="../static/css/tour-card.css" />
    <link rel="stylesheet" href="../static/css/contact-form.css" />
    <link rel="stylesheet" href="../static/css/profile-card.css" />
    <link rel="stylesheet" href="../static/css/tour.css" />
  </head>
  <body>
    <section class="padding-block-250">
      <div class="container">
        <div class="tour-image">
          <div>
            <figure></figure>
          </div>
        </div>
        <div class="payment-details padding-block-150">
          <div class="timestamp">
            <span>Fecha • Hora</span>
          </div>
          <div>
            <div class="tag outline">
              <span>Pendiente</span>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="padding-block-250">
      <div class="container">
        <div class="tour-information">
          <div class="tour-title">
            <h1 class="fs-primary-heading">Nombre del Tour</h1>
            <div class="tour-tags">
              <span class="tag bgr-yellow">Fecha</span>
              <span class="tag bgr-blue">Región</span>
              <span class="tag bgr-red">Clasificación</span>
            </div>
          </div>
          <div>
            <div class="review-card" id="selected-tour-guide">
              <div class="review-header">
                <div class="avatar"></div>
                <p class="user-name">Nombre del Guía</p>
              </div>
              <p class="review-body" style="display: none">Review</p>
              <div class="review-footer">
                <span style="display: none">Nombre del Tour</span>
                <span style="display: none">Nombre del guía</span>
                <span>Turno</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="padding-block-250">
      <div class="container">
        <p class="tour-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at
          sem vel libero mollis pharetra. Aliquam tincidunt lorem ipsum, ut
          consequat est molestie consequat. Cras sit amet risus id libero dictum
          tincidunt. Sed ac nulla in justo suscipit tempor. Donec dignissim
          luctus ipsum. Nulla eu maximus ex, ac auctor nisl. Mauris arcu risus,
          hendrerit aliquam semper eu, efficitur laoreet augue. Maecenas vel
          varius libero. Quisque tempor tincidunt lacinia. Lorem ipsum dolor sit
          amet, consectetur adipiscing elit. Vestibulum at sem vel libero mollis
          pharetra. Aliquam tincidunt lorem ipsum, ut consequat est molestie
          consequat. Cras sit amet risus id libero dictum tincidunt. Sed ac
          nulla in justo suscipit tempor. Donec dignissim luctus ipsum. Nulla eu
          maximus ex, ac auctor nisl. Mauris arcu risus, hendrerit aliquam
          semper eu, efficitur laoreet augue. Maecenas vel varius libero.
          Quisque tempor tincidunt lacinia.
        </p>
      </div>
    </section>
    <section class="padding-block-250">
      <div class="container">
        <div><h2 class="fs-secondary-heading">Personas en el Tour</h2></div>
        <div class="padding-block-150">
          <!-- SOMETHING -->
        </div>
      </div>
    </section>
    <section class="padding-block-250">
      <div class="container">
        <div><h2 class="fs-secondary-heading">Itinerario</h2></div>
        <div class="padding-block-150">
          <table class="itinerario">
            <tr>
              <td class="it-activity-no">Actividad #1</td>
              <td class="it-activity">Nombre de la actividad</td>
              <td class="it-time">00:00 AM</td>
            </tr>
          </table>
        </div>
      </div>
    </section>
  </body>
</html>
