<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Colombiando</title>
    <link
      rel="shortcut icon"
      href="../static/img/Colombiando.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/base.css" />
    <link rel="stylesheet" href="../static/css/tour-card.css" />
  </head>
  <body>
    <section class="padding-block-250">
      <div class="container">
        <h1 class="fs-title">Hola, Nombre de Usuario</h1>
      </div>
    </section>
    <section class="padding-block-250">
      <div class="container">
        <div><h2 class="fs-secondary-heading">Tours Activos</h2></div>
        <div class="three-col-grid padding-block-150">
          <div class="tour-card">
            <div class="tour-image">
              <div>
                <figure>Tour image</figure>
              </div>
            </div>
            <div class="tour-tags">
              <span class="tag bgr-yellow">Fecha</span>
              <span class="tag bgr-blue">Región</span>
              <span class="tag bgr-red">Clasificación</span>
            </div>
            <div class="tour-info">
              <p class="fs-body-title">Nombre del Tour</p>
              <p class="fs-details">Descripción del Tour</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="padding-block-250">
      <div class="container">
        <div><h2 class="fs-secondary-heading">Tours Pasados</h2></div>
        <div class="three-col-grid padding-block-150">
          <div class="tour-card">
            <div class="tour-image">
              <div>
                <figure>Tour image</figure>
              </div>
            </div>
            <div class="tour-tags">
              <span class="tag bgr-red">Esperando Calificación</span>
            </div>
            <div class="tour-info">
              <p class="fs-body-title">Nombre del Tour</p>
              <p class="fs-details">Descripción del Tour</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
